@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
   
}
body{
  
}

:root{    
    
    --LizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
    --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

    --PaperGradient1: hsl(230, 89%, 62%);
    --PaperGradient2: hsl(230, 89%, 65%);

    --ScissorsGradient1: hsl(39, 89%, 49%);
    --ScissorsGradient2: hsl(40, 84%, 53%);

    --RockGradient1: hsl(349, 71%, 52%);
    --RockGradient2: hsl(349, 70%, 56%);

    /*Neutral*/

    --DarkText: hsl(229, 25%, 31%);
    --ScoreText: hsl(229, 64%, 46%);
    --HeaderOutline: hsl(217, 16%, 45%);

    /*Background*/

    --RadialGradient1: hsl(214, 47%, 23%);
    --RadialGradient2: hsl(237, 49%, 15%);

}